<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>    <title>Enova Search</title>
</head>
<body>
<div class="container-fluid py-2">
    <div class="row justify-content-center">
        <nav class="shadow p-3 mb-5 bg-success border-bottom" style="position: fixed; top: 0; left: 0; width: 100%; z-index: 1020; --bs-bg-opacity: .9">
            <form class="d-flex" action="/search" method="POST">
                <input class="form-control me-2" type="search" name="q" placeholder="Search" aria-label="Search" value="{{ query }}">
                <input class="form-control me-2 w-25" type="password" name="password" placeholder="Password" aria-label="Password" required value="{{ password }}">
                <button class="btn btn-outline-dark" type="submit">Search</button>
            </form>
        </nav>

        <div class="px-2 mt-5 col-10">
            {% block content %}{% endblock %}
        </div>
    </div>
</div>
</body>
</html>


